/* Variables */
:root{
    --primary_color: rgb(233, 69, 181);
    --btn_color: rgb(191, 44, 144);
    --secondary_color: #132D46;
    --gray_color: #696E79;
    --white: #FFFFFF;
    --black: #191E29;
}

/* ScrollBar */

html::-webkit-scrollbar {
    width: 7px;
  }

html::-webkit-scrollbar-thumb {
    background: var(--btn_color);
    border-radius: 10px; 
  }



/* Font */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

html{
    font-size: 62.5%;
}

*, *::before, *::after{
    box-sizing: border-box;
}

*{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: black;
}

/* Header */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secondary_color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

/* Logo */

.logo a{
    text-decoration: none;
    color: var(--white);
    font-size: 2.3rem;
    box-sizing: border-box;
    font-weight: bold;
}
.logo img{
        width: 2.3rem;
}

/* Menu */
.menu li{
    position: relative;
    list-style-type: none;
    display: inline-block;
    margin: 5px 10px;

}
.menu a{
    text-decoration: none;
    color: var(--white);
}

.menu a::after{
    content: "";
    width: 0;
    height: 2.5px;
    background-color: var(--primary_color);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: width .5s;
}

.menu a:hover::after , .menu a.active::after{
    width: 100%;
}
/* Sign UP */
.btn{
    padding: 1rem 3.5rem;
    border: none;
    border-radius: 25px;
    color: var(--white);
    background-color: var(--btn_color);
    font-weight: bold;
}

a.btn{
  text-decoration: none;
}

a.btn:hover{
    cursor :pointer;
    box-shadow: -2px -2px 8px var(--btn_color),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, .3);
}





/* Home Section */

.home_container{
    width: 100%;
    min-height: 73rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    color: var(--white);
    background: url("./Images/wallpaperflare.com_wallpaper.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home_text{
    padding-left: 10rem;
    text-shadow: 1px 1px 2px black;

}

.home_text span{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
}

.home_text h1{
    font-size: 5.4rem;
    font-weight: bolder;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 1.5rem;
}

a.watch_btn{
    text-decoration: none;
    background-color: var(--btn_color);
    font-size: 1.6rem;
    padding: 1rem 2rem;
    color: var(--white);
    border-radius: 1rem;
}

.home_text a:hover:not(.play_btn){
    cursor: pointer;
    box-shadow: -2px -2px 8px var(--btn_color),
    -2px -2px 12px rgba(255, 255, 255, 0.5),
    inset 2px 2px 4px rgba(255, 255, 255, 0.1),
    2px 2px 8px rgba(0, 0, 0, .3);
}
a.play_btn{
    position: absolute;
    top: 58rem;
    right: 5rem;
    border-radius: 50%;
    border: 4px solid rgb(2,3,7,0.4);
    background-color: var(--btn_color);
    transition: all 300ms linear;
}

a.play_btn:hover{
    cursor: pointer;
    transform: scale(1.08);
}

a.play_btn .bx{
    font-size: 5rem;
    padding: 0;
    margin: 0;
    position: relative;
    top:2px;
    left: 2px;
    color: white;

}

/* Movie Section */

.movie_sec{
    width: 100%;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}

.movie_sec_header{
    max-width: 120rem;
    margin: 0 auto 10px auto;
    padding-top: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid var(--primary_color);
    color: var(--white);
}

.movie_container{
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(190px, 1fr));
    gap: 15px;
}

.movie_box .movie_img {
    width: 100%;
}
.movie_box img{
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    filter: brightness(.8);
}

.movie_box h2{
    padding: 0;
    margin: 0;
    color: var(--white);
    font-size: 1.9rem;
    font-weight: 700;
}

.movie_box span{
    color: var(--white);
}

.movie_box:hover{
    cursor: pointer;

}

.movie_box img:hover{
    transform: translateY(-5px);
    transition: all .5s;
    filter: brightness(1);
}


/* Contact Form */
.contact_form{
    width: 50rem;
    margin: 2rem auto;
    text-align: center;
}

.contact_form h2{
    margin-top: 3rem;
    color: var(--btn_color);
}

.contact_form form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    height: 6rem;
    border-radius: 2rem;
}

.input_email{
    border: none;
    width: 70%;
    height: 3rem;
}

.input_send{
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--btn_color);
    color: white;
    border: 1px solid grey;
}

input[type="email"]:focus{
    outline: none; 
}

.input_send:hover{
    cursor :pointer;
    filter: brightness(1.1);

}

/* Footer */
.footer{
    margin: 0 auto;
    max-width: 120rem;
    min-height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_logo a{
    text-decoration: none;
    color: var(--white);
    font-size: 2.3rem;
    box-sizing: border-box;
    font-weight: bold;
}
.footer_logo img{
        width: 2.3rem;
}

.social .bx{
    color: rgb(240, 233, 233);
    background-color: var(--btn_color);
    padding: .3rem;
    font-size: 2rem;
    margin-left: 1rem;
    border: 4px solid rgb(2,3,7,0.4);
    border-radius: 50%;
}

.social a:hover{
    filter: brightness(1.4);
    transition: all 400ms ease-in-out;

}


/* Responsive */

/* 1680 px */

@media screen and (max-width: 1680px){
    .movie_sec{
        padding-left: 30px;
        padding-right: 30px;
    }
    .footer{
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* 1080 px */
@media screen and (max-width: 1080px){
    .home_text{
        padding-left: 40px;
    }
    .movie_sec_header{
        max-width: 96.8rem;
        margin: 0 auto 10px auto;
        padding-top: 10px;
        text-transform: uppercase;
        border-bottom: 2px solid var(--primary_color);
        color: var(--white);
    }
    
    .movie_container{
        max-width: 96rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(190px, 1fr));
        gap: 15px;
    }
    .contact_form{
        width: 40rem;
    }

    .footer{
        max-width: 96rem;
    }
}

@media screen and (max-width: 768px) {
    .menu{
        display: none;
    }
    nav{
        justify-content: space-between;
        padding: 10px;
    }
    a.play_btn{
        right: 2rem;
    }
    .home_text span{
        font-size: 1.2rem;
    }
    .home_text h1{
        font-size: 4rem;
    }
}

@media screen and (max-width: 480px){
    .contact_form{
        width: 29rem;
    }
    .home_container{
        width: 100%;
        min-height: 50rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        color: var(--white);
        background: url("./Images/wallpaperflare.com_wallpaper.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    a.play_btn{
        display: none;
    }
    .home_text span{
        font-size: 1rem;
    }
    .home_text h1{
        font-size: 3rem;
    }
    .footer{
        flex-direction: column;
    }
    .social .bx{
        font-size: 1.5rem;
    }
}